@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
    int count = 1;
}
<partial name="_Notification" />

<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3 flex-wrap">
        <h2 class="mb-3">Products</h2>
        <a asp-action="Create" class="btn btn-primary mb-3">Create New Product</a>
    </div>
    <div class="card">
        <div class="card-header">
            Product List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Product Bundle</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr class="align-middle">
                                <th scope="row">@(count++)</th>
                                <td>
                                    <img src="@product.ImageUrl" alt="Product Image" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;">
                                </td>
                                <td>@product.Name</td>
                                <td>@Html.Raw(product.Description.Length > 50 ? product.Description.Substring(0, 50) + "..." : product.Description)</td>
                                <td>@product.ProductBuddle.Name</td>
                                <td>
                                    <div class="d-flex justify-content-center flex-wrap">
                                        <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-success btn-sm mx-1 mb-1">Edit</a>
                                        <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger btn-sm mx-1 mb-1">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>